# https:// doesn't work properly in NPM yet https://stackoverflow.com/questions/11773509/npm-behind-a-proxy-fails-with-status-403
https-proxy = http://127.0.0.1:8118
http-proxy = http://127.0.0.1:8118